.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    min-height: 130px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    
    transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.02);
}

.card img{
    width: 120px;
    min-height: 130px;
    border-radius: 10px;
}

.title{
    font-family: PT SANS;
    /* font-style: italic; */
    color: #E69500;
    padding-inline: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    

}

.description{
    
    font-size: 0.6rem;
    font-family: PT sans;
    color: rgba(0,0,0,0.7);
    padding-inline: 10px;
    padding-top: 5px;
}

.price{
    font-family: Kanit;
    font-weight: 400;
    padding-bottom: 5px;
}